body {
    background:linear-gradient( white, aqua);
    background-attachment: fixed;
}
p {
    text-align: justify;
    flex-direction: column;
}
    #imagem1{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 170px;
    height: 200px;
    left: 0px;
    z-index: -1;
    top: 18px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    }

    #imagem2{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 170px;
    height: 200px;
    left: 0px;
    z-index: -1;
    top: 18px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    }

    #imagem3{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 170px;
    height: 200px;
    left: 0px;
    z-index: -1;
    top: 18px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    }
    
    #imagem4{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 170px;
    height: 200px;
    left: 0px;
    z-index: -1;
    top: 18px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    }

    #imagem5{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 170px;
    height: 200px;
    left: 0px;
    z-index: -1;
    top: 18px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    }

    .txt1 {
    position: absolute;
    top:220px;
    font-size: 15px;
    line-height: 28px;
    background-color: burlywood;
    color: green;
    border: 1px solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    text-align: justify;
    }

    .txt2 {
        position: absolute;
        top:220px;
        font-size: 14px;
        line-height: 28px;
        background-color: burlywood;
        color: green;
        border: 1px solid;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px; 
        text-align: justify;
        }
    
    .txt3 {
    position: absolute;
    top:220px;
    font-size: 15px;
    line-height: 28px;
    background-color: burlywood;
    color: green;
    border: 1px solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    text-align: justify;
    }

    .txt4 {
        position: absolute;
        top:220px;
        font-size: 15px;
        line-height: 28px;
        background-color: burlywood;
        color: green;
        border: 1px solid;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px; 
        text-align: justify;
        }

    .txt5 {
    position: absolute;
    top:220px;
    font-size: 15px;
    line-height: 28px;
    background-color: burlywood;
    color: green;
    border: 1px solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    text-align: justify;
    }
    
    .Imagens {
    position: relative;
    top: 150px;
    width: 220px;
    height: 450px;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    left: 50px;
    right: 50px;
        }
    
    .Caixa{
    width: 170px;
    height: 300px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
    }