body {
    background-color:white;
    font-size: 20px;
}
@media (max-width:768px) {
    body{
        background-color: lightslategray;
        font-size: 12px;
    }
}

/* Tablets */
@media(min-width: 768px) {
    #grid-container{
        width: 80%;
        font-size: 1.2rem;
    } 
}

/* Desktops */
 @media(min-width: 1024px){
    #grid-container{
        width: 70%;
        font-size: 1.4rem;
    }}

#grid-container{
    display: grid;
    grid-template-areas: 
    'header header header'
    'section aside';
    gap: 20px 20px;
 
}

.titulo{
    text-align: left;
}

#grid-item item1 {
    grid-area: header;

    background-color: aqua;
}

#grid-item item2{
    grid-area: section;
    background-color: rgb(7, 58, 58);
}

#grid-item item2{
    grid-area: aside;
    background-color: rgb(7, 58, 58);
}