body {
    background-color:white;
    font-size: 20px;
}
@media (max-width:768px) {
    body{
        background-color: lightslategray;
        font-size: 12px;
    }
}

/* Tablets */
@media(min-width: 768px) {
    .grid-container{
        width: 80%;
        font-size: 1.2rem;
    } 
}

/* Desktops */
@media(min-width: 1024px){
    .grid-container{
        width: 70%;
        font-size: 1.4rem;
    }
}
.grid-container{
 display: flex;
 width: auto;
 height: auto;
 row-gap: 100px;
 margin-top: 5px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 1rem;
 
}

.titulo{
    text-align: left;
}

.grid-item item2{
    width: 50px;
    height: auto;
    margin-top:100px;

}

.txt1{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: justify;
}

#banner{
    align-items: center;
    margin-left: 10%;
}

#imagem1{
    align-items: center;
    left: 10%;
    margin-top: 100px;
}

#imagem2{
    align-items: center;
    left: 10%;
    margin-top: 100px;
}