.quiz-container {
  padding: 20px;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 10px 0;
  background-color: black;
  font-family: 'Quatro', sans-serif;
}
.cx_opcao {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}
.cx_opcao input[type="radio"] {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 0;
  margin-right: 10px;
  transition: background-color 0.3s;
}
.cx_opcao input[type="radio"]:checked{
  background-color: #0CD508;
  border-color: #0CD508;
}
.cx_opcao label {
  margin: 2%;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.cx_opcao input[type="radio"]{
  display: none;
}