*{
	background-color: #032639;
}

.alternativas_perguntas {
  color: #fff;
  padding: 2%;
  font-family: 'Quatro-Light', sans-serif;
  width: 50%;
}

.pergunta {
  font-size: 0.9em;
  color: #fff;
  margin-bottom: 5%;
}

.quiz_tela_perguntas {
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}

/* Ocultar input padrão */
.quiz_tela_perguntas input[type="radio"] {
  display: none;
}

/* Criar caixa de seleção personalizada */
.quiz_tela_perguntas label {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  cursor: pointer;
  width: auto;
  margin-right: 10px;
}

/* Estilizar a seleção antes do label */
.quiz_tela_perguntas label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  margin-right: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Alterar estilo quando selecionado */
.quiz_tela_perguntas input[type="radio"]:checked + label::before {
  background-color: #0CD508;
  border-color: #0CD508;
}

/* Ajustar posicionamento do texto alternativo */
.quiz_tela_perguntas span {
  color: #fff;
  font-size: 0.9em;
}