/* Início - Editar Informações Pessoa Física (Tela usuário) */
.informacoes_pessoa_fisica {
  padding: 2%;
  background-color: #032639;
  color: #FFFFFF;
  border: none;
  border-radius: 0.625rem;
  max-width: 34%;
  margin: 1% auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  font-family: 'Quatro', sans-serif;
}

#txt-editar-informacoes-fisicas {
  font-family: 'Quatro-Italic', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.if_pessoa_fisica {
  display: flex;
  align-items: center;
  margin-bottom: 1.5%;
  padding-right: 1.5%;
}

.lbl_pessoa_fisica {
  color: white;
  font-weight: 400;
  text-align: right;
  width: 30%;
  margin-right: 1.5%;
  font-weight: bold;
}

.input_pessoa_fisica {
  background: transparent;
  border: none;
  border-bottom: 0.0625rem solid #FFFFFF;
  color: white;
  width: 100%;
}

.input_pessoa_fisica:focus {
  outline: none;
}

.icon_pf {
  position: relative;
  right: 3%;
  color: white;
  font-size: 1rem;
  pointer-events: none;
}

.btn_alterar_senha_pessoa_fisica {
  background-color: #C6FE1F;
  border: none;
  color: #032639;
  font-weight: bold;
  padding: 1% 2%;
  border-radius: 0.625rem;
  transition: background-color 0.3s ease;
  width: 243px;
  height: 49px;
  margin: 4% auto 0;
  display: block;
  text-align: center;
  font-family: 'Quatro', sans-serif;
}
.btn_editar_pessoa_fisica {
  background-color: #C6FE1F;
  border: none;
  color: #032639;
  font-weight: bold;
  padding: 1% 2%;
  border-radius: 0.625rem;
  transition: background-color 0.3s ease;
  width: 243px;
  height: 49px;
  margin: 15% auto 0.5%;
  display: block;
  text-align: center;
  font-family: 'Quatro', sans-serif;
}

.btn_alterar_senha_pessoa_fisica:hover,
.btn_editar_pessoa_fisica:hover {
  background-color: #2DAEFF;
}
/* Fim - Editar Informações Pessoa Física (Tela usuário) */