
 
body {
  background-color: black;
  
}
 
.alternativas_perguntas {
  color: #fff;
  padding: 2%;
  font-family: 'Quatro', sans-serif;
  width: 40%;
}
 
.pergunta {
  font-size: 1em;
  color: #fff;
  margin-bottom: 5%;
}
 
.quiz_tela_perguntas {
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}
 
 
.quiz_tela_perguntas input[type="radio"] {
  display: none;
}
 
.quiz_tela_perguntas label::before {
  content: "";
  display: inline-block;
  width: 2.5%;
  height: 20px;
  border: 2px solid #fff;
  margin-right: 1%;
  vertical-align: middle;
  transition: background-color 0.3s, border-color 0.3s;
}
 
 
.quiz_tela_perguntas input[type="radio"]:checked + label::before {
  background-color: #0CD508;
  border-color: #0CD508;
}
 
.quiz_tela_perguntas label {
  font-size: 1em;
  cursor: pointer;
  width: 100%;
}
 
 