#background-user-inicial-dois {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
}
.container-user-pag2 {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: justify;
}
.text-content-user-pag2 {
    text-align: left;
}
.main-text-user-pag2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.sub-text-user-pag2 {
   font-size: 18px;
   margin-top: 10px;
}
.img_arvore-user-pag2 {
   width: 50px;
   height: auto;
    }